<!DOCTYPE html>
<html lang="en">
{{template "html-head" .}}

<body>
    <div style="text-align: center;">
        <h1>Atmin telah datang!!!! harap waspada ygy</h1>
        <img src="https://cache.lahelu.com/thumbnail-Pz4QuQXne-44349" alt="">
    </div>

    <form enctype="multipart/form-data" class="align-items-center container my-5">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label">Nama</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Umur</label>
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label">Email</label>
                <input type="email" class="form-control">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Password</label>
                <input type="password" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div style="text-align: center;">
        <h1>Harap isi data anda agar terhindar dari kejaran atmin</h1>
        <img src="/assets/images/img-1.jpg" alt="">
    </div>
</body>

{{template "javascript" .}}

</html>